In [8]:
import sqlalchemy
import pandas as pd

In [5]:
username = 'ldsa_student'
password = 'R4Fr4P3aAgMYBqqP'  # the password is not XXX by the way
host_name = 'batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 's02_db'
schema = 'public'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

In [6]:
engine = sqlalchemy.create_engine(conn_str, connect_args=conn_args)

In [9]:
query = 'SELECT * FROM pg_catalog.pg_tables WHERE schemaname = \'public\';'
pd.read_sql_query(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,data,postgres,None,False,False,False,False
1,public,missing_character_names,postgres,None,False,False,False,False
2,public,genre,postgres,None,False,False,False,False
3,public,financial,postgres,None,False,False,False,False
4,public,location,postgres,None,False,False,False,False
5,public,info,postgres,None,False,False,False,False
6,public,hackathon_02,postgres,None,False,False,False,False
7,public,movie_actor,postgres,None,False,False,False,False
8,public,oscar,postgres,None,False,False,False,False
9,public,movie,postgres,None,False,False,False,False
10,public,stock,postgres,None,False,False,False,False
11,public,actor,postgres,None,False,False,False,False
12,public,movie_genre,postgres,None,False,False,False,False

In [10]:
query = 'SELECT * FROM hackathon_02 LIMIT 10;'
pd.read_sql_query(query, engine)

    Timestamp   MA10 RSI30 RSI10       %K10
0  1325317920    NaN  None  None        NaN
1  1325346600    NaN  None  None        NaN
2  1325350740    NaN  None  None        NaN
3  1325350800    NaN  None  None        NaN
4  1325391360    NaN  None  None        NaN
5  1325431680    NaN  None  None        NaN
6  1325457900    NaN  None  None        NaN
7  1325534640    NaN  None  None        NaN
8  1325591100    NaN  None  None        NaN
9  1325600520  4.781  None  None  80.645161