In [35]:
import sqlalchemy
import pandas as pd
import requests
import bs4
import chardet
import os
import json

In [3]:
username = 'ldsa_student'
password = 'R4Fr4P3aAgMYBqqP'  # the password is not XXX by the way
host_name = 'batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 's02_db'
schema = 'public'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

In [4]:
engine = sqlalchemy.create_engine(conn_str, connect_args=conn_args)

In [5]:
query = 'SELECT * FROM pg_catalog.pg_tables WHERE schemaname = \'public\';'
pd.read_sql_query(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,data,postgres,None,False,False,False,False
1,public,missing_character_names,postgres,None,False,False,False,False
2,public,genre,postgres,None,False,False,False,False
3,public,financial,postgres,None,False,False,False,False
4,public,location,postgres,None,False,False,False,False
5,public,info,postgres,None,False,False,False,False
6,public,hackathon_02,postgres,None,False,False,False,False
7,public,movie_actor,postgres,None,False,False,False,False
8,public,oscar,postgres,None,False,False,False,False
9,public,movie,postgres,None,False,False,False,False
10,public,stock,postgres,None,False,False,False,False
11,public,actor,postgres,None,False,False,False,False
12,public,movie_genre,postgres,None,False,False,False,False

In [6]:
query = 'SELECT * FROM hackathon_02 LIMIT 20;'
pd.read_sql_query(query, engine)

     Timestamp   MA10 RSI30      RSI10       %K10
0   1325317920    NaN  None        NaN        NaN
1   1325346600    NaN  None        NaN        NaN
2   1325350740    NaN  None        NaN        NaN
3   1325350800    NaN  None        NaN        NaN
4   1325391360    NaN  None        NaN        NaN
5   1325431680    NaN  None        NaN        NaN
6   1325457900    NaN  None        NaN        NaN
7   1325534640    NaN  None        NaN        NaN
8   1325591100    NaN  None        NaN        NaN
9   1325600520  4.781  None        NaN  80.645161
10  1325602440  4.868  None  85.365854  93.548387
11  1325604720  4.958  None  85.751979  96.341463
12  1325610600  5.030  None  85.751979  95.945946
13  1325610840  5.086  None  73.741561  75.675676
14  1325611560  5.157  None  77.277661  93.750000
15  1325611620  5.202  None  77.277661  90.625000
16  1325650620  5.195  None  55.237462   0.000000
17  1325653500  5.188  None  55.237462   0.000000
18  1325680860  5.175  None  64.312750  72.222222
19  1325681820  5.180  None  64.312750  72.222222

In [9]:
response = requests.get('https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev')

In [16]:
with open('data/data_0.tsv', 'rb') as f:
    file_data = f.read()
    encoding = chardet.detect(file_data)

In [22]:
chardet.detect(open(os.path.join('data', 'data_0.tsv'), 'rb').read())

{'encoding': None, 'confidence': 0.0, 'language': None}

In [21]:
chardet.detect(open(os.path.join('data', 'data_3.json'), 'rb').read())

{'encoding': None, 'confidence': 0.0, 'language': None}

In [47]:
data_2 = pd.read_csv(os.path.join('data', 'data_1.csv'))

In [41]:
data_1 = pd.read_csv(os.path.join('data', 'data_1.csv'))

In [43]:
data_1['timestamp'] = pd.to_datetime(data_1.Timestamp).map(pd.Timestamp.timestamp).astype('int').astype(str)

In [45]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124999 entries, 0 to 124998
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         124999 non-null  int64
 1   Timestamp          124999 non-null  object
 2   Open               3104 non-null    float64
 3   High               3104 non-null    float64
 4   Low                3104 non-null    float64
 5   Close              3104 non-null    float64
 6   Volume_(BTC)       3104 non-null    float64
 7   Volume_(Currency)  3104 non-null    float64
 8   Weighted_Price     3104 non-null    float64
 9   timestamp          124999 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 9.5+ MB

In [48]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124999 entries, 0 to 124998
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         124999 non-null  int64
 1   Timestamp          124999 non-null  object
 2   Open               3104 non-null    float64
 3   High               3104 non-null    float64
 4   Low                3104 non-null    float64
 5   Close              3104 non-null    float64
 6   Volume_(BTC)       3104 non-null    float64
 7   Volume_(Currency)  3104 non-null    float64
 8   Weighted_Price     3104 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 8.6+ MB

In [24]:
pd.read_csv(os.path.join('data', 'data_2.csv'))

,Unnamed: 0,timestamp,open,high,low,close,volume_(btc),volume_(currency),weighted_price,volumn_square
0,0,1340317800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1340317860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1340317920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1340317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1340318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
124994,124994,1347817440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124995,124995,1347817500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124996,124996,1347817560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124997,124997,1347817620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124998,124998,1347817680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
timestamp = pd.to_datetime(pd.read_csv(os.path.join('data', 'data_1.csv')).Timestamp).map(pd.Timestamp.timestamp).astype('int').astype(str)

In [39]:
timestamp

0         1332817860
1         1332817920
2         1332817980
3         1332818040
4         1332818100
             ...
124994    1340317500
124995    1340317560
124996    1340317620
124997    1340317680
124998    1340317740
Name: Timestamp, Length: 124999, dtype: object

In [40]:
json.decoder(os.path.join('data', 'data_3.json'))

TypeError: 'module' object is not callable

In [ ]:
json.load()