In [35]:
import sqlalchemy
import pandas as pd
import requests
import bs4
import chardet
import os
import json

In [71]:
import zipfile
import tarfile

In [93]:
import bz2

In [109]:

with  bz2.open('data/data_3.json') as x:
    data_3 = x.read()
    data = json.loads(data_3)
    data_3 = pd.DataFrame(data)

In [3]:
username = 'ldsa_student'
password = 'R4Fr4P3aAgMYBqqP'  # the password is not XXX by the way
host_name = 'batch4-s02-db-instance.ctq2kxc7kx1i.eu-west-1.rds.amazonaws.com'
port = 5432
db_name = 's02_db'
schema = 'public'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

In [4]:
engine = sqlalchemy.create_engine(conn_str, connect_args=conn_args)

In [5]:
query = 'SELECT * FROM pg_catalog.pg_tables WHERE schemaname = \'public\';'
pd.read_sql_query(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,data,postgres,None,False,False,False,False
1,public,missing_character_names,postgres,None,False,False,False,False
2,public,genre,postgres,None,False,False,False,False
3,public,financial,postgres,None,False,False,False,False
4,public,location,postgres,None,False,False,False,False
5,public,info,postgres,None,False,False,False,False
6,public,hackathon_02,postgres,None,False,False,False,False
7,public,movie_actor,postgres,None,False,False,False,False
8,public,oscar,postgres,None,False,False,False,False
9,public,movie,postgres,None,False,False,False,False
10,public,stock,postgres,None,False,False,False,False
11,public,actor,postgres,None,False,False,False,False
12,public,movie_genre,postgres,None,False,False,False,False

In [80]:
query = 'SELECT * FROM hackathon_02 ;'
data_db =  pd.read_sql_query(query, engine)

In [9]:
response = requests.get('https://n6v6uai1jj.execute-api.eu-west-1.amazonaws.com/dev')

In [16]:
with open('data/data_0.tsv', 'rb') as f:
    file_data = f.read()
    encoding = chardet.detect(file_data)

In [103]:
data_1 = pd.read_csv(os.path.join('data', 'data_1.csv'))

In [104]:
data_1.columns = data_1.columns.str.lower()

In [105]:
data_1['timestamp'] = pd.to_datetime(data_1['timestamp']).map(pd.Timestamp.timestamp).astype('int').astype(str)

In [54]:
data_2 = pd.read_csv(os.path.join('data', 'data_2.csv'))

In [67]:
data_2['timestamp'] = data_2['timestamp'].astype('str')

In [90]:
data_db.columns = data_db.columns.str.lower()

In [91]:
data_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19616 entries, 0 to 19615
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  19616 non-null  int64
 1   ma10       19607 non-null  float64
 2   rsi30      19586 non-null  float64
 3   rsi10      19606 non-null  float64
 4   %k10       18950 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 766.4 KB

In [57]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124999 entries, 0 to 124998
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         124999 non-null  int64
 1   Timestamp          124999 non-null  object
 2   Open               3104 non-null    float64
 3   High               3104 non-null    float64
 4   Low                3104 non-null    float64
 5   Close              3104 non-null    float64
 6   Volume_(BTC)       3104 non-null    float64
 7   Volume_(Currency)  3104 non-null    float64
 8   Weighted_Price     3104 non-null    float64
 9   timestamp          124999 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 9.5+ MB

In [64]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124999 entries, 0 to 124998
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         124999 non-null  int64
 1   timestamp          124999 non-null  int64
 2   open               8846 non-null    float64
 3   high               8846 non-null    float64
 4   low                8846 non-null    float64
 5   close              8846 non-null    float64
 6   volume_(btc)       8846 non-null    float64
 7   volume_(currency)  8846 non-null    float64
 8   weighted_price     8846 non-null    float64
 9   volumn_square      8846 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 9.5 MB

In [119]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11035 entries, 23 to 124967
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          11035 non-null  int64
 1   Open               11035 non-null  float64
 2   High               11035 non-null  float64
 3   Low                11035 non-null  float64
 4   Close              11035 non-null  float64
 5   Volume_(BTC)       11035 non-null  float64
 6   Volume_(Currency)  11035 non-null  float64
 7   Weighted_Price     11035 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 775.9+ KB

In [120]:
data_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19616 entries, 0 to 19615
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  19616 non-null  int64
 1   ma10       19607 non-null  float64
 2   rsi30      19586 non-null  float64
 3   rsi10      19606 non-null  float64
 4   %k10       18950 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 766.4 KB

In [124]:
data_1.columns = data_1.columns.str.lower()
data_1 = data_1.dropna()
data_1

,unnamed: 0,timestamp,open,high,low,close,volume_(btc),volume_(currency),weighted_price
138,138,1332826140,4.60,4.60,4.60,4.60,1.600000,7.360000,4.60
175,175,1332828360,4.57,4.57,4.57,4.57,5.593000,25.560010,4.57
239,239,1332832200,4.72,4.72,4.72,4.72,1.000000,4.720000,4.72
250,250,1332832860,4.75,4.75,4.75,4.75,1.100000,5.225000,4.75
260,260,1332833460,4.78,4.78,4.78,4.78,6.020193,28.776522,4.78
...,...,...,...,...,...,...,...,...,...
124821,124821,1340307120,6.64,6.64,6.64,6.64,26.930000,178.815200,6.64
124839,124839,1340308200,6.65,6.65,6.65,6.65,1.285458,8.548294,6.65
124846,124846,1340308620,6.64,6.64,6.64,6.64,3.025000,20.086000,6.64
124865,124865,1340309760,6.64,6.64,6.64,6.64,1.000000,6.640000,6.64
124901,124901,1340311920,6.65,6.65,6.65,6.65,5.673428,37.728293,6.65

In [125]:

data_2.columns = data_2.columns.str.lower()
data_2 = data_2.dropna()
data_2

,unnamed: 0,timestamp,open,high,low,close,volume_(btc),volume_(currency),weighted_price,volumn_square
5,5,1340318100,6.64,6.64,6.64,6.64,2.019841,13.411742,6.640000,4.079757
245,245,1340332500,6.64,6.64,6.64,6.64,54.000000,358.560000,6.640000,2916.000000
257,257,1340333220,6.65,6.65,6.65,6.65,0.612030,4.070000,6.650000,0.374581
381,381,1340340660,6.63,6.63,6.63,6.63,14.953557,99.142081,6.630000,223.608858
439,439,1340344140,6.63,6.63,6.63,6.63,1.012382,6.712091,6.630000,1.024917
...,...,...,...,...,...,...,...,...,...,...
124830,124830,1347807600,11.68,11.68,11.68,11.68,4.574098,53.425461,11.680000,20.922370
124893,124893,1347811380,11.56,11.56,11.56,11.56,18.000000,208.080000,11.560000,324.000000
124903,124903,1347811980,11.67,11.68,11.67,11.68,17.572500,205.212022,11.678021,308.792756
124959,124959,1347815340,11.62,11.62,11.62,11.62,0.199656,2.320000,11.620000,0.039862
124961,124961,1347815460,11.62,11.62,11.62,11.62,0.700000,8.134000,11.620000,0.490000

In [126]:

data_3.columns = data_3.columns.str.lower()
data_3 = data_3.dropna()
data_3

,timestamp,open,high,low,close,volume_(btc),volume_(currency),weighted_price
23,1347819120,11.62,11.62,11.62,11.62,3.943201,45.820000,11.62000
40,1347820140,11.62,11.65,11.62,11.65,3.541665,41.247684,11.64641
41,1347820200,11.69,11.69,11.69,11.69,0.558335,6.526935,11.69000
70,1347821940,11.57,11.57,11.57,11.57,3.681072,42.590000,11.57000
107,1347824160,11.56,11.56,11.56,11.56,0.870000,10.057200,11.56000
...,...,...,...,...,...,...,...,...
124942,1355314260,13.34,13.34,13.34,13.34,24.866857,331.723868,13.34000
124943,1355314320,13.33,13.33,13.33,13.33,16.881552,225.031092,13.33000
124961,1355315400,13.42,13.42,13.42,13.42,5.763040,77.340000,13.42000
124964,1355315580,13.34,13.34,13.34,13.34,1.500000,20.010000,13.34000
124967,1355315760,13.34,13.34,13.34,13.34,3.900000,52.026000,13.34000

In [128]:
merged_local = pd.concat([data_1, data_2, data_3], axis=0).reset_index()

In [132]:
merged_local.timestamp = merged_local.timestamp.astype(int)

In [134]:
merged_local

,index,unnamed: 0,timestamp,open,high,low,close,volume_(btc),volume_(currency),weighted_price,volumn_square
0,138,138.0,1332826140,4.60,4.60,4.60,4.60,1.600000,7.360000,4.60,NaN
1,175,175.0,1332828360,4.57,4.57,4.57,4.57,5.593000,25.560010,4.57,NaN
2,239,239.0,1332832200,4.72,4.72,4.72,4.72,1.000000,4.720000,4.72,NaN
3,250,250.0,1332832860,4.75,4.75,4.75,4.75,1.100000,5.225000,4.75,NaN
4,260,260.0,1332833460,4.78,4.78,4.78,4.78,6.020193,28.776522,4.78,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22980,124942,NaN,1355314260,13.34,13.34,13.34,13.34,24.866857,331.723868,13.34,NaN
22981,124943,NaN,1355314320,13.33,13.33,13.33,13.33,16.881552,225.031092,13.33,NaN
22982,124961,NaN,1355315400,13.42,13.42,13.42,13.42,5.763040,77.340000,13.42,NaN
22983,124964,NaN,1355315580,13.34,13.34,13.34,13.34,1.500000,20.010000,13.34,NaN
22984,124967,NaN,1355315760,13.34,13.34,13.34,13.34,3.900000,52.026000,13.34,NaN

In [130]:
merged_local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22985 entries, 0 to 22984
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              22985 non-null  object
 1   unnamed: 0         11950 non-null  float64
 2   timestamp          22985 non-null  object
 3   open               22985 non-null  float64
 4   high               22985 non-null  float64
 5   low                22985 non-null  float64
 6   close              22985 non-null  float64
 7   volume_(btc)       22985 non-null  float64
 8   volume_(currency)  22985 non-null  float64
 9   weighted_price     22985 non-null  float64
 10  volumn_square      8846 non-null   float64
dtypes: float64(9), object(2)
memory usage: 1.9+ MB

In [135]:
pd.merge(merged_local, data_db, how='left', on='timestamp').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22985 entries, 0 to 22984
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              22985 non-null  object
 1   unnamed: 0         11950 non-null  float64
 2   timestamp          22985 non-null  int64
 3   open               22985 non-null  float64
 4   high               22985 non-null  float64
 5   low                22985 non-null  float64
 6   close              22985 non-null  float64
 7   volume_(btc)       22985 non-null  float64
 8   volume_(currency)  22985 non-null  float64
 9   weighted_price     22985 non-null  float64
 10  volumn_square      8846 non-null   float64
 11  ma10               18080 non-null  float64
 12  rsi30              18080 non-null  float64
 13  rsi10              18080 non-null  float64
 14  %k10               17520 non-null  float64
dtypes: float64(13), int64(1), object(1)
memory usage: 2.8+ MB